// typography styles

h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h);
  margin-block-end: var(--space-24);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h);
  margin-block-end: var(--space-20);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-h);
  margin-block-end: var(--space-16);
}

p {
  font-size: var(--font-size-p);
  line-height: var(--line-height-p);
  max-width: var(--max-width-text);
  margin-block-end: var(--space-16);

  &:last-child {
    margin-block-end: 0;
  }
}

.text {
  &--small {
    font-size: var(--font-size-xs);
  }

  &--large {
    font-size: var(--font-size-s);
  }

  &--bold {
    font-weight: var(--font-weight-bold);
  }

  &--center {
    text-align: center;
  }
}
